@font-face{
	font-family: prompt;
	src: url('Prompt.ttf');
}

body{
	font-family: prompt;
	background: gainsboro;
}

h1{
	text-align: center;
	font-weight: 50;
}

.tulisan_login{
	text-align: center;
	/* text-transform: uppercase; */
}

.kotak_login{
	width: 350px;
	background: white;
	margin: 80px auto;
	padding: 30px 20px;
}

.tombol_lanjut{
	background: #ffd700;
	color: black;
	width: 100%;
	font-size: 11pt;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.tombol_login{
	background: #6cf;
	color: snow;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;

}

.label{
	font-size: 11pt;
}

.form_login{
	box-sizing: border-box;
	width: 100%;
	font-size: 11pt;
	padding: 10px;
	margin-bottom: 20px;
}